<form action="/personal" method = "POST">
    <div class="row">
        <input type="text" name="title" placeholder="Title of the project">
        <input type="text" name="task" placeholder="Task">
        <button type="submit"> Submit </button>
    </div>
</form>