<%- include('partials/header') %>
<form action="/group/<%=projectId%>/tasks" method = "POST">
    <div class="row">
        <input type="text" name="Id" placeholder="Collaborator Id">
        <input type="text" name="task" placeholder="Task">
        <button type="submit">Submit</button>
    </div>
    <a href="/group/<%=projectId%>/addTask">Add more Collaborators</a>
</form>
<%- include('partials/footer') %>
