<%- include('partials/header') %>
<div class="imgbox" style="background-color:light">
<img class="center-fit" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/V1xq1AADx/videoblocks-note-paper-reminder-schedule-board-business-people-meeting-and-use-post-it-notes-to-share-idea-20s-4k_h3xu9qdfz_thumbnail-full01.png"> 
</div>
<%- include('partials/footer') %>
